<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetOrder</key>
		<real>609650715.09174705</real>
	</dict>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetOrder</key>
		<dict>
			<key>E4934D19-B709-4E6E-AD62-2761F3F9F0F6</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
